---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Meet the Team Section">
  <main>
    <section>
      <span>Our team</span>
      <h1>Meet the brain</h1>
      <p>
        We are proud to have them as part of our community and look forward to
        continuing to push the boundaries of what's possible in the world of
        digital art.
      </p>
    </section>
    <Card
      name="Liam Novak"
      profession="Software Engineer"
      image="/person/person_1@2x.png"
      color="#c1b6f8"
    />
    <Card
      name="Sophia Moretti"
      profession="Business Development Manager"
      image="/person/person_2@2x.png"
      color="#edacd2"
    />
    <Card
      name="Ethan Rossi"
      profession="Business Development Manager"
      image="/person/person_3@2x.png"
      color="#9dc4f8"
    />
    <Card
      name="Isabella Ricci"
      profession="UX Designer"
      image="/person/person_4@2x.png"
      color="#f8d8b0"
    />
    <Card
      name="Noah Conti"
      profession="Content Creator"
      image="/person/person_5@2x.png"
      color="#86e7d4"
    />
    <a href="#">
      <p>See all members</p>
			<img src="/arrow up right.svg" alt="arrow">
    </a>
  </main>
</Layout>

<style>
  main {
    margin: 0 auto;
    background-color: #f3f4f6;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    max-width: 1200px;
  }
  section {
    grid-column: span 2;
    color: #000000;
    padding: 2.5rem 5.2rem 1rem 2rem;
  }
  span {
    color: #263fa9;
    font-weight: 400;
  }
  a {
    grid-row: 2;
    color: #394150;
		display: flex;
		align-items: end;
		padding: 1rem 2rem;
		text-decoration: none;
  }
	a:hover {
		color: #263fa9;
		text-decoration: underline;
	}
	a img {
		width: 1rem;
		margin-left: 0.5rem;
		padding: 1rem 0;
	}
  h1 {
    font-weight: 500;
    font-size: 2.5rem;
    margin: 0.5rem 0;
  }
  p {
    font-weight: 400;
    font-size: 1rem;
    color: #394150;
  }

  @media (max-width: 1215px) {
    main {
      max-width: 900px;
    }
    main > section {
      grid-column: 1 / -1;
			margin: 0 21rem 3rem 0;
    }
    a {
      grid-row: 3;
    }
  }
  @media (max-width: 915px) {
    main {
      max-width: 600px;
      justify-items: center;
      grid-template-columns: repeat(1, 1fr);
    }
		main > section {
			margin: 0;
			padding: 3rem 8rem;
		}
    a {
      grid-row: 8;
    }
		body {
			height: auto;
		}
  }
</style>
