---
interface Props {
  name: string;
  profession: string;
  image: string;
  color: string;
}

const { name, profession, image, color } = Astro.props;
---

<article style=`background-image: url(${image});`>
  <main>
    <strong>{name}</strong>
    <p>{profession ? profession : "No profession provided"}</p>
  </main>
</article>

<style define:vars={{ color: color }}>
  article {
		max-width: 300px;
    width: 100%;
    height: 300px;
    background-size: cover;
    background-color: var(--color);
  }
	article:hover{
		opacity: 0.8;
		transform: scale(1.05);
		transition: 0.5s;
		cursor: pointer;
	}
  main {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
    background-image: url("/Gradient.svg");
    background-size: cover;
    padding: 0 1.5rem;
  }
  p {
    margin-top: 0.5rem;
  }
</style>
